.form {
	width: 600px;
}

.form input {
	border-color: gray;
}

.form input:hover {
	border-color: violet;
}

.form input[type="checkbox"] {
	width: auto;
	display: initial;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;
	margin-right: 8px;
}

.form label {
	display: flex;
	cursor: pointer;
	align-items: center;
}

.form select {
	width: 100%;
	padding: 8px;
	color: inherit;
	font-size: 20px;
	border-radius: 4px;
	margin-bottom: 1rem;
	background: transparent;
}

.form textarea {
	padding: 2px 4px;
	font-size: 12px;
	min-height: 100px;
	border-radius: 4px;
	background: transparent;
	width: calc(100% - 4px);
}

.form .error {
	border: 2px solid red;
}
